//- Footer
footer
    svg.shape-top(viewBox="0 0 100 100", preserveAspectRatio="none")
            polygon(points="34 0, 100 100, 0 100")
    .container
        .row
            .col-sm-12
                img.footer-logo.wow.fadeInUp(src='/images/logo-lonestone.png', alt='')
                //- p.copyright-text.wow.fadeInUp
                //-     | Lone Stone SAS
                //-     | &nbsp;&bull;&nbsp;
                //-     | See sources of this website on&nbsp;
                //-     a(href='https://gitlab.com/lonestone/lonestone.consulting') Gitlab
                br
                ul.list-unstyled.list-inline.footer-social.wow.fadeInUp
                    li
                        a(href='https://www.facebook.com/LoneStoneStudio')
                            i.fa.fa-facebook
                    li
                        a(href='https://twitter.com/LoneStoneStudio')
                            i.fa.fa-twitter
                    li
                        a(href='https://www.linkedin.com/company/lonestone')
                            i.fa.fa-linkedin