header#header
    nav#main-nav.navbar
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href=homeUrl + '#header', data-scroll, data-toggle='collapse' data-target='.navbar-collapse.in')
                    img(src='/images/logo-lonestone.png', alt=$i18n.header.brand)

            .collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    //- Links to sections
                    //- Ids must be used as sections id attributes and as SASS classes
                    each id in ['#services', '#tools', 'culture.html', 'team.html', '#portfolio', 'jobs.html', '#contact']
                        - const linkName = id.replace(/(^#|\.html$)/, '')
                        li(data-toggle='collapse', data-target='.navbar-collapse.in', class=(linkName == pageName ? 'active' : ''))
                            a(href=homeUrl + id, data-scroll) #{$i18n.navbar[linkName]}
