/* Cards (icon + title + text) */
.card {
  text-align: center;
  margin-bottom: 85px;
  &:last-child {
    margin-bottom: 0;
  }
  i {
    font-size: 28px;
    color: $primaryColor;
  }
  h3 {
    font-size: 25px;
    font-family: $roboto;
    margin: 20px 0;
  }
  a {
    text-transform: uppercase;
    color: $primaryColor;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .card {
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 50px;
    }
  }
  .angled-column:last-child .card:last-child {
    margin-bottom: 0;
  }
}
