/* Section Heading Style */
section {
  &.odd {
    position: relative;
    margin-top: -180px;
    padding-top: 180px;
    padding-bottom: 100px;
  }
  &.even {
    position: relative;
    background: #f3f3f3;
    padding-top: 180px;
    padding-bottom: 180px;
  }

  .section-number {
    border: 1px solid $primaryColor;
    border-radius: 100px;
    color: $primaryColor;
    display: inline-block;
    font-size: 25px;
    height: 40px;
    margin-left: 50px;
    text-align: center;
    width: 40px;
    position: relative;
    font-family: $raleway;
    &:before {
      background: $primaryColor none repeat scroll 0 0;
      content: "";
      height: 1px;
      left: -50px;
      position: absolute;
      top: 20px;
      width: 50px;
    }
    &:after {
      background: $primaryColor none repeat scroll 0 0;
      content: "";
      height: 138px;
      left: -50px;
      position: absolute;
      top: -117px;
      width: 1px;
    }
  }

  h2.section-heading {
    font-size: 45px;
    font-family: $raleway;
    margin-bottom: 85px;
  }

  .shape-bot {
    text-align: center;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    background: transparent url("/images/bot-triangle.png") no-repeat scroll
      center bottom;
    height: 220px;
  }

  .shape-top {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    background: transparent url("/images/top-triangle.png") no-repeat scroll
      center bottom;
    height: 250px;
  }

  .angled-column {
    &:nth-child(3) {
      margin-top: 50px;
    }
    &:nth-child(4) {
      margin-top: 100px;
    }
  }
}

@media (max-width: 1200px) {
  section {
    &.even {
      padding-top: 155px !important;
    }
    &.odd {
      padding-top: 193px !important;
    }

    h2.section-heading {
      font-size: 35px;
    }
  }
}

@media (max-width: 991px) {
  section {
    h2.section-heading {
      margin-bottom: 50px;
    }
    &.even {
      padding-top: 126px !important;
    }
    &.odd {
      padding-top: 207px !important;
    }
  }
}

@media (max-width: 768px) {
  section {
    &.even {
      padding-top: 69px !important;
      padding-bottom: 80px !important;
    }
    &.odd {
      padding-top: 163px !important;
      padding-bottom: 0 !important;

      &.services.odd {
        padding-top: 132px !important;
      }
    }

    .section-number {
      margin-left: 0;
      &::after {
        content: none;
      }
      &::before {
        content: none;
      }
    }
    h2.section-heading {
      font-size: 30px;
    }

    .angled-column {
      &:nth-child(3) {
        margin-top: 0;
      }
      &:nth-child(4) {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 480px) {
  section h2.section-heading {
    font-size: 27px;
  }
}
