/* Contact Section */

$popup-bg-color: rgba(255, 255, 255, 0.9);

section.contact {
  height: 700px;
  .section-heading {
    text-shadow: 0 0 20px white, 0 0 20px white, 0 0 20px white, 0 0 20px white,
      0 0 20px white, 0 0 20px white;
  }
  #map {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    canvas {
      top: 0;
      left: 0;
    }
  }
  .map-marker {
    position: absolute;
    width: 36px;
    height: 36px;
    text-align: center;
    color: $primaryColor;
    font-size: 30pt;
  }
  .map-popup {
    padding: 0 20px;
    h3 {
      font-size: 21px;
    }
    p {
      font-size: 18px;
    }
    a {
      text-decoration: none;
    }
  }
  .mapboxgl-popup-content {
    background: $popup-bg-color;
  }
  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: $popup-bg-color;
  }
  .content {
    position: absolute;
    z-index: 3;
    margin-top: -64px;
  }
  &.odd {
    margin-top: -150px;
  }
  .shape-top,
  .shape-bot {
    display: none;
  }
}

@media (max-width: 1200px) {
  section.contact {
    .mapboxgl-popup-tip {
      display: none;
    }
    .mapboxgl-popup {
      top: 130px;
      left: 240px;
    }
    &.odd {
      .content {
        margin-top: -77px;
      }
    }
  }
}

@media (max-width: 991px) {
  section.contact {
    &.odd {
      .content {
        margin-top: -91px;
      }
    }
  }
}

@media (max-width: 768px) {
  section.contact {
    .mapboxgl-popup {
      top: 271px;
      left: 0;
    }
    &.odd {
      margin-top: -80px;
      .content {
        margin-top: -107px;
      }
    }
  }
}
