/* Culture sections */

section.cultureIntro {
  .text {
    font-size: 1.1em;
  }
  .quote {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
  }
  ul {
    margin-top: 30px;
    li {
      margin-bottom: 10px;
      font-size: 1.1em;
    }
  }
  @media (max-width: 768px) {
    .quote {
      margin: 60px 0;
    }
    ul {
      margin-bottom: 30px;
    }
  }
}

section.cultureGovernance {
  .text {
    font-size: 1.5em;
  }
}
