.home {
  body {
    margin-top: 0;
  }
  // Sticky bar is transparent when we're on top
  header {
    .sticky-wrapper nav {
      background: transparent;
    }
    .is-sticky nav {
      background: $darkColor2;
    }
  }
}

@mixin underline($color) {
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0.8em;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    border-radius: 0.2em;
    background: $color;
    transform: rotate(-1.2deg);
  }
}

section.intro {
  position: relative;
  height: 750px;
  background: $darkColor1;
  background: $darkColor1 linear-gradient($darkColor2, $darkColor3);

  .intro-content {
    position: absolute;
    z-index: 0;
    top: 250px;
    left: 0;
    width: 100%;
    h1 {
      color: #fff;
      font-size: 50px;
      font-family: $raleway;
      font-weight: 300;
      line-height: 1.5em;
      strong {
        font-weight: 600;
        &:nth-child(-n + 3) {
          @include underline($darkColor1);
        }
        &:nth-child(n + 4) {
          @include underline($primaryColor);
        }
      }
    }
    .expertises {
      display: none; // Disabled
      margin: 60px 0 25px 0;
      .expertise {
        display: inline-block;
        white-space: nowrap;
        color: #fff;
        font-size: 25px;
        margin-right: 40px;
        // Icons
        i {
          margin-right: 15px;
          // Larger mobile icon
          &.fa-mobile {
            @extend .fa-lg;
          }
        }
      }
    }
    .primary-button {
      display: none; // Disabled
      padding: 15px 35px;
      color: #fff;
      background: $primaryColor;
    }
  }
  .intro-bottom {
    text-align: center;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    background: transparent url('/images/bot-triangle.png') no-repeat scroll
      center bottom;
    height: 220px;
  }
}

@media (max-width: 1500px) {
  section.intro .intro-bottom {
    height: 150px;
  }
}

@media (max-width: 1200px) {
  section.intro {
    height: 560px;
    .intro-content {
      top: 150px;
      h1 {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 991px) {
  section.intro {
    height: 430px;
    .intro-content {
      top: 130px;
      h1 {
        font-size: 30px;
      }
      .expertises {
        margin: 32px 0 32px;
        .expertise {
          font-size: 20px;
        }
      }
      .primary-button {
        margin-top: 0;
        padding: 10px 25px;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  section.intro {
    height: 375px;
    overflow: hidden;
    img {
      height: 420px;
    }
    .intro-content {
      top: 100px;
      text-align: center;
      h1 {
        font-size: 25px;
      }
      .primary-button {
        display: none;
      }
      .expertises .expertise {
        margin-right: 20px;
      }
    }
    .intro-bottom {
      background-position: 0 0;
    }
  }
}

@media (max-width: 480px) {
  section.intro {
    .intro-content {
      h1 {
        font-size: 20px;
      }
      .expertises {
        margin: 32px 0 32px;
        .expertise {
          font-size: 15px;
        }
      }
    }
  }
}
