/* Jobs Section */
section.jobs {
  p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .photos {
    img {
      width: 100%;
      height: auto;
      margin-bottom: 30px;
    }
  }
  &.even .photos {
    margin-top: -200px;
  }
  &.odd .photos {
    margin-top: -135px;
  }
}

@media (max-width: 768px) {
  section.jobs {
    .content {
      margin-bottom: 50px;
    }
    &.even .photos {
      margin-top: 0;
    }
    &.odd .photos {
      margin-top: 0;
    }
  }
}
