/* Jobs Intro Section */

section.jobsIntro {
  .presentation {
    margin-bottom: 80px;
    font-size: 1.3em;
    font-weight: 300;
  }
  h3 {
    font-size: 1.4em;
    margin: 0 0 20px 0;
  }
  li {
    margin-bottom: 10px;
    font-size: 1.1em;
  }
  @media (max-width: 768px) {
    ul {
      margin-bottom: 30px;
    }
    .primary-button {
      margin-bottom: 60px;
    }
  }
}
