/* Jobs Intro Section */

section.jobsOffers {
  padding-bottom: 250px;

  .presentation {
    font-size: 20px;
    font-weight: 300;
  }
  .offer {
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 23px rgba(0, 0, 0, 0.09);
    background-color: white;
    transition: box-shadow 0.5s ease;
    &:hover {
      box-shadow: 0 4px 23px rgba(0, 0, 0, 0.2);
    }
    .title {
      margin: 0;
      a {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 30px;
        font-size: 23px;
        color: inherit;
        text-decoration: none;
      }

      .position {
        flex: 1;
      }

      .tag {
        min-height: 24px;
        text-align: center;
        line-height: 24px;
        font-size: 15px;
        font-weight: normal;
        padding: 0 8px;
        margin-left: 8px;
        border: 1px solid black;
        border-radius: 5px;
        &.type {
          color: $darkColor1;
          border-color: $darkColor1;
        }
        &.xp {
          color: $lightColor1;
          border-color: $lightColor1;
        }
      }
    }
    .content {
      padding: 0 30px 30px 30px;
      h4 {
        font-size: 16px;
        margin-top: 30px;
      }
    }
  }

  // WelcomeKit offers
  .welcomekit-jobs-list {
    list-style-type: none;
    padding: 0;
  }
  .welcomekit-jobs-list-item {
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 23px rgba(0, 0, 0, 0.09);
    background-color: white;
    transition: box-shadow 0.5s ease;

    &:hover {
      box-shadow: 0 4px 23px rgba(0, 0, 0, 0.2);
    }

    a.welcomekit-jobs-list-item-link {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 30px;
      text-decoration: none;
      font-size: 23px;
      color: inherit;
      text-decoration: none;

      h3.welcomekit-job-name {
        flex: 1;
        margin: 0;
      }

      ul.welcomekit-job-infos {
        display: flex;
        list-style-type: none;
        padding: 0;

        li {
          min-height: 24px;
          text-align: center;
          line-height: 24px;
          font-size: 15px;
          font-weight: normal;
          padding: 0 8px;
          margin-left: 8px;
          border: 1px solid black;
          border-radius: 5px;
          &.welcomekit-job-contractType {
            color: $darkColor1;
            border-color: $darkColor1;
          }
          &.welcomekit-job-officeCity {
            color: $lightColor1;
            border-color: $lightColor1;
          }
        }
      }
    }
  }
}
