/* Page 404 Sections */

section.page404 {
  // Speech Bubbles
  .speechbubble {
    padding: 20px;
    border: none;
    border-radius: 11px;
    text-align: center;
    font-size: 1.4em;
    p {
      position: relative;
      z-index: 1;
      margin: 0;
      font-weight: bold;
      line-height: 1.7em;
      a {
        white-space: nowrap;
        font-weight: bold;
        color: $primaryColor;
        text-decoration: underline;
        &:hover {
          color: $lightColor1;
          text-decoration: underline;
        }
      }
    }
  }

  .speechbubble::before {
    box-sizing: content-box;
    position: absolute;
    z-index: 0;
    width: 40px;
    height: 40px;
    content: '';
    bottom: 0;
    border: none;
    text-overflow: clip;
  }
  // Odd and Even sections
  &.odd {
    padding-top: 250px;
    .speechbubble,
    .speechbubble::before {
      background: #f3f3f3;
    }
    .speechbubble::before {
      right: 0;
      transform: rotateZ(14.32394487827058deg) translateX(5px) skewX(36deg);
    }
  }
  &.even {
    .speechbubble,
    .speechbubble::before {
      background: #ffffff;
    }
    .speechbubble::before {
      left: 0;
      transform: rotateZ(-14.32394487827058deg) translateX(-5px) skewX(-36deg);
    }
  }

  .copyright {
    text-align: center;
    color: #666;
    margin-top: 80px;
    margin-bottom: 50px;
    a {
      color: inherit;
      text-decoration: underline;
      &:hover {
        color: #333;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  section.page404.even {
    padding-top: 113px !important;
  }
}

@media (max-width: 991px) {
  section.page404 {
    .speechbubble {
      font-size: 1em;
    }
  }
}
