/* Team */
section.team {
  .team-single {
    text-align: center;
    &:hover {
      img {
        background: linear-gradient(
          white,
          transparentize($primaryColor, 0.9) 55%
        );
        border-bottom: 3px solid $primaryColor;
      }
      div > h2 {
        color: $primaryColor;
      }
    }
    img {
      max-width: 100%;
      height: auto;
      background: linear-gradient(white, #f3f3f3 55%);
      border-bottom: 3px solid transparent;
      transition: 0.15s border-bottom ease-in;
    }
    div {
      height: 150px;
      h2 {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
        margin: 30px 0 10px 0;
        font-family: $raleway;
        transition: 0.2s color ease-in-out;
      }
      h3 {
        font-family: $raleway;
        text-transform: uppercase;
        font-size: 15px;
        margin: 0;
        font-weight: 600;
      }
      ul {
        margin: 10px 0 0 0;
        li {
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
          }
          a {
            font-size: 23px;
            color: inherit;
            &:hover {
              color: $primaryColor;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  section.team {
    .team-single div {
      h2 {
        font-size: 22px;
        margin-top: 10px;
      }
      h3 {
        font-size: 15px;
      }
      ul li a {
        font-size: 22px;
      }
    }
  }
}

@media (max-width: 768px) {
  section.team {
    .team-single div {
      h2 {
        font-size: 18px;
        margin-top: 10px;
      }
      h3 {
        font-size: 13px;
      }
      ul li a {
        font-size: 20px;
      }
    }
  }
}
