/* Tools Section */
section.tools {
  .tools-item {
    padding: 0 22%;
    margin-bottom: 30px;
    text-align: center;
    img {
      /* Outline on hover */
      &:hover {
        filter:
                drop-shadow(2px 2px 0 #fff)
                drop-shadow(-2px 2px 0 #fff)
                drop-shadow(2px -2px 0 #fff)
                drop-shadow(-2px -2px 0 #fff);
      }
    }
  }
}