/* Variables */

// Palette Colors, from lightest to darkest
$lightColor1: #fd9e93;
$lightColor4: #91a7e7;
$primaryColor: #f8786d;
$darkColor1: #242e6b;
$darkColor2: #14234e;
$darkColor3: #080f26;
$darkColor4: #050916;

// Texts
$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;
$transition: 0.15s ease;
$headingcolor: $darkColor2;

// Bootstrap
$text-color: #727272;
$font-family-base: $roboto;
$font-size-base: 15px;
$font-weight-base: 300;
$headings-color: $headingcolor;

// Font Awesome
$fa-font-path: '/fonts';

/* Libraries */

// bower:css
@import '../../bower_components/magnific-popup/dist/magnific-popup.css';
@import '../../bower_components/animate.css/animate.css';
// endbower
// bower:scss
@import '../../bower_components/font-awesome/scss/font-awesome.scss';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// endbower

/* Custom SASS */

// Layout
@import 'layout/base';
@import 'layout/buttons';
@import 'layout/header';
@import 'layout/footer';

// Sections
@import 'sections/common';
@import 'sections/page404';
@import 'sections/contact';
@import 'sections/intro';
@import 'sections/jobs';
@import 'sections/jobsIntro';
@import 'sections/jobsOffers';
@import 'sections/portfolio';
@import 'sections/card';
@import 'sections/team';
@import 'sections/tools';
@import 'sections/culture';
