//- Contact
.container
    .row
        #map
        .content
            .col-sm-12
                span.section-number= sectionNumber
                h2.section-heading.wow.fadeInUp= $i18n.contact.title
            .col-sm-12.wow.fadeInUp
                .map-marker
                    i.fa.fa-map-marker
                .map-popup
                    h3 Lonestone
                    p
                        | 40 rue la Tour d'Auvergne
                        br
                        | 44200 Nantes, France
                    p
                        a(href='tel:+33972604196') +33 (0)9 72 60 41 96
                        br
                        a(href='mailto:contact@lonestone.io') contact@lonestone.io

script(src='https://api.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.js')
