include ../mixins/card

.container
    .row
        .col-sm-12
            span.section-number= sectionNumber
            h2.section-heading.wow.fadeInUp= $i18n.culture.principles.title

        - const principles = $i18n.culture.principles.list

        .col-sm-6.angled-column
            - for(let i = 0; i < principles.length; i += 2)
                +card(principles[i])
        .col-sm-6.angled-column
            - for(let i = 1; i < principles.length; i += 2)
                +card(principles[i])
