include ../mixins/card

.container
    .row
        .col-sm-12
            span.section-number= sectionNumber
            h2.section-heading.wow.fadeInUp= $i18n.culture.values.title

        - const values = $i18n.culture.values.list

        .col-sm-4.angled-column
            - for(let i = 0; i < values.length; i += 3)
                +card(values[i])
        .col-sm-4.angled-column
            - for(let i = 1; i < values.length; i += 3)
                +card(values[i])
        .col-sm-4.angled-column
            - for(let i = 2; i < values.length; i += 3)
                +card(values[i])
