.container
    .row
        .col-sm-12
            span.section-number= sectionNumber
            h2.section-heading.wow.fadeInUp= $i18n.culture.title

    .row
        .text.col-sm-7.wow.fadeInUp
            != md($i18n.culture.intro)
        .quote.col-sm-5.wow.fadeInUp
            != md($i18n.culture.quote)

    .row
        .text.col-sm-12.wow.fadeInUp
            != md($i18n.culture.framework)
