.container
    .row
        .col-sm-12
            span.section-number= sectionNumber
            h2.section-heading.wow.fadeInUp= $i18n.culture.governance.title

    .row
        .text.col-sm-12.wow.fadeInUp
            != md($i18n.culture.governance.text)
