//- Intro

mixin expertise(icon, name)
    span.expertise
        i.fa(class = 'fa-' + icon)
        | #{name}

section.intro
    .intro-content
        .container
            //- Headline
            != md('# ' + $i18n.intro.text)

            p.expertises
                +expertise('desktop', $i18n.intro.expertises.web)
                +expertise('mobile', $i18n.intro.expertises.mobile)
                +expertise('cubes', $i18n.intro.expertises.backend)
                +expertise('comments-o', $i18n.intro.expertises.bots)
                +expertise('gamepad', $i18n.intro.expertises.games)

            a.primary-button(href='#services', data-scroll)
                | #{$i18n.readmore}&nbsp;
                i.fa.fa-caret-right
    .intro-bottom