//- Jobs

.container
    .row
        .col-sm-12
            span.section-number= sectionNumber
            h2.section-heading.wow.fadeInUp= $i18n.jobs.title

            .presentation.wow.fadeInUp
                != md($i18n.jobs.intro)

    .row
        .content.col-sm-6.wow.fadeInUp
            h3= $i18n.jobs.whyus.title
            ul
                each item in $i18n.jobs.whyus.list
                    li= item

        .content.col-sm-6.wow.fadeInUp
            h3= $i18n.jobs.bonus.title
            ul
                each item in $i18n.jobs.bonus.list
                    li= item
