//- Jobs

mixin jobOffer(offer)
    .offer(id=offer.id)
        h3.title
            a(href=`#${offer.id}`)
                .position= offer.position
                if offer.xp
                    .tag.xp= offer.xp
                .tag.type= offer.type
        .content
            != md(offer.description)

            h4= $i18n.jobsOffers.youare
            ul
                each item in offer.youare
                    li= item

            h4= $i18n.jobsOffers.bonus
            ul
                each item in offer.bonus
                    li= item

.container
    .row
        .col-sm-12
            span.section-number= sectionNumber
            h2.section-heading.wow.fadeInUp= $i18n.jobsOffers.title

        .col-md-6
            - for(let i = 0; i < $i18n.jobsOffers.offers.length; i += 2)
                +jobOffer($i18n.jobsOffers.offers[i])

        .col-md-6
            - for(let i = 1; i < $i18n.jobsOffers.offers.length; i += 2)
                +jobOffer($i18n.jobsOffers.offers[i])

    .row
        .content.col-sm-12.text-center
            a.primary-button(href='mailto:contact@lonestone.io?subject=Candidature')
                | #{$i18n.jobs.ctaEmail}
