//- Jobs

mixin jobOffer(offer)
    .offer(id=offer.id)
        h3.title
            a(href=`#${offer.id}`)
                .position= offer.position
                if offer.xp
                    .tag.xp= offer.xp
                .tag.type= offer.type
        .content
            != md(offer.description)

            h4= $i18n.jobsOffers.youare
            ul
                each item in offer.youare
                    li= item

            h4= $i18n.jobsOffers.bonus
            ul
                each item in offer.bonus
                    li= item

.container
    .row
        .col-sm-12
            span.section-number= sectionNumber
            h2.section-heading.wow.fadeInUp= $i18n.jobsOffers.title

            script(src='https://www.welcomekit.co/assets/embed.js' type='text/javascript')
            script(type='text/javascript').
                welcomeKitReady(function() {
                    var wk = new WelcomeKitEmbed('LoDM89R')
                    wk.group('job')
                    wk.display(["department","officeCity","contractType"])
                    wk.locale('fr')
                    wk.website('wttj_fr')
                    wk.render()
                })
            div#welcomekit-embed

    .row
        .content.col-sm-12.text-center
            a.primary-button(href='https://lonestone.welcomekit.co/' target='_blank')
                | #{$i18n.jobs.btnOffers}

            br
            br
            a(href='https://www.welcometothejungle.com/fr/companies/lonestone' target='_blank') Welcome to the Jungle
            | &nbsp;&nbsp;&bullet;&nbsp;&nbsp;
            a(href='https://www.glassdoor.fr/Pr%C3%A9sentation/Travailler-chez-Lonestone-EI_IE3611780.16,25.htm' target='_blank') Glassdoor
