//- Jobs

mixin photo(id)
    a(href='/images/jobs/' + id + '.jpg')
        img(src='/images/jobs/' + id + '-thumb.jpg', alt='')

.container
    .row
        .col-sm-12
            span.section-number= sectionNumber
            h2.section-heading.wow.fadeInUp= $i18n.jobs.title
        .content.col-sm-6.wow.fadeInUp

            != md($i18n.jobs.text)

            a.primary-button(href='jobs.html')
                | #{$i18n.jobs.cta}&nbsp;
                i.fa.fa-caret-right

        .photos.col-sm-6.wow.fadeInRight
            .row
                .col-sm-12
                    +photo('team2')
            .row
                .col-sm-6
                    +photo('office')
                .col-sm-6
                    +photo('terrasse')
