//- Portfolio

.container
    .row
        .col-sm-12
            span.section-number= sectionNumber
            h2.section-heading.wow.fadeInUp= $i18n.portfolio.title
            img(src="/images/references.png" srcset="/images/references@2x.png 2x" width="100%")
