include ../mixins/card

.container
    .row
        .col-sm-12
            span.section-number= sectionNumber
            h2.section-heading.wow.fadeInUp= $i18n.services.title
        .col-sm-4.angled-column.wow.fadeInUp
            +card($i18n.services.design)
            +card($i18n.services.audit)
        .col-sm-4.angled-column.wow.fadeInUp
            +card($i18n.services.dev)
            +card($i18n.services.sysadmin)
        .col-sm-4.angled-column.wow.fadeInUp
            +card($i18n.services.formation)
