//- Team

mixin teamMember(id, name, job)
    .team-single.col-md-3.col-sm-4.col-xs-6.wow.fadeInUp
        img(src='/images/team/white/' + id + '.png', alt='')
        div
            h2= name
            h3= job
            ul.list-unstyled.list-inline
                block

mixin iconCV(id)
    li
        a(href='/cv/CV_' + id + '.pdf', title='CV', target='_blank')
            i.fa.fa-id-card-o

mixin iconLinkedin(id)
    li
        a(href='https://fr.linkedin.com/in/' + id, title='LinkedIn', target='_blank')
            i.fa.fa-linkedin

mixin iconTwitter(id)
    li
        a(href='https://twitter.com/' + id, title='Twitter', target='_blank')
            i.fa.fa-twitter

section.team
    .container
        .row
            .col-sm-12
                span.section-number= sectionNumber
                h2.section-heading.wow.fadeInUp= $i18n.team.title

            +teamMember('pierrick', 'Pierrick Bignet', $i18n.team.jobs.dev)
                +iconCV('Pierrick')
                +iconLinkedin('pierrick-bignet-092b392b')
                +iconTwitter('pierrickbignet')

            +teamMember('godefroy', 'Godefroy de Compreignac', $i18n.team.jobs.dev)
                +iconCV('Godefroy')
                +iconLinkedin('godefroy')
                +iconTwitter('Godefroy')

            +teamMember('ronan', 'Ronan Letellier', $i18n.team.jobs.dev)
                +iconCV('Ronan')
                +iconLinkedin('ronan-letellier-3ab45029')
                +iconTwitter('Shinlun')

            +teamMember('damien', 'Damien Mosteiro', $i18n.team.jobs.manager)
                +iconLinkedin('damien-mosteiro-58a93336')
                +iconTwitter('damien_mosteiro')

            +teamMember('pierre-luc', 'Pierre-Luc Lelouch', $i18n.team.jobs.business)
                +iconLinkedin('pierre-luc-lelouch-02429a96')

            +teamMember('eddy', 'Eddy Margueron', $i18n.team.jobs.artist3d)
                +iconLinkedin('eddy-margueron')

            +teamMember('marlene', 'Marlène Gray', $i18n.team.jobs.artist3d)
                +iconLinkedin('marlène-gray-019ba2130')

            +teamMember('nadia', 'Nadia Leteurtre', $i18n.team.jobs.manager)
                +iconLinkedin('nadia-leteurtre-4271324b')

            +teamMember('adeline', 'Adeline Hamon', $i18n.team.jobs.uxui)
                +iconLinkedin('adelinehamon')

            +teamMember('thomas', 'Thomas Reaubourg', $i18n.team.jobs.uxui)
                +iconLinkedin('thomas-reaubourg')

            +teamMember('tom', 'Tom Cordelier', $i18n.team.jobs.dev)
                +iconLinkedin('tom-cordelier-a71a28145')

            +teamMember('clement', 'Clément Rivaille', $i18n.team.jobs.dev)
                +iconLinkedin('clément-rivaille-39424b51')

            +teamMember('johan', 'Johan Brun', $i18n.team.jobs.dev)
                +iconLinkedin('johanbrun')

            +teamMember('clement-e', 'Clément Eraud', $i18n.team.jobs.dev)
                +iconLinkedin('clément-eraud-b6172a15a')
                +iconTwitter('erdclement')

            +teamMember('samuel', 'Samuel Bouchet', $i18n.team.jobs.dev)
                +iconTwitter('Lythom')

            +teamMember('chloe', 'Chloé Noger', $i18n.team.jobs.dev)
                +iconLinkedin('chloe-noger')

            +teamMember('julien', 'Julien Glorieux', $i18n.team.jobs.dev)
                +iconLinkedin('julien-glorieux-958b2257')

            +teamMember('matthieu', 'Matthieu Gindre', $i18n.team.jobs.dev)
                +iconLinkedin('matthieu-gindre-814753115')

            +teamMember('marion', 'Marion Bollati', $i18n.team.jobs.dev)
                +iconLinkedin('marion-b-771b681ab')

            +teamMember('jacky', 'Jacky Michy', $i18n.team.jobs.dev)
                +iconLinkedin('jacky-michy')

            +teamMember('armand', 'Armand Sallé', $i18n.team.jobs.dev)
                +iconLinkedin('armand-sallé-9550a613a')

            +teamMember('nicolas', 'Nicolas Coulonnier', $i18n.team.jobs.dev)
                +iconLinkedin('nicolas-coulonnier-66416813b')

            +teamMember('florent', 'Florent Simon', $i18n.team.jobs.uxui)
                +iconLinkedin('florent-simon-13440025')

            +teamMember('tatiana', 'Tatiana Grange', $i18n.team.jobs.dev)
                +iconLinkedin('tgrange')

            +teamMember('ludivine', 'Ludivine Drouet', $i18n.team.jobs.hr)
                +iconLinkedin('ludivine-drouet-18a818b6')
                +iconTwitter('LudiDrouet')
                
            +teamMember('fabien', 'Fabien Kérinec', $i18n.team.jobs.dev)
                +iconLinkedin('fabienkerinec')    
