//- Tools

mixin tools-item(id, name, url)
    .tools-item
        a(href=url, target='_blank')
            img.img-responsive(src='/images/tools/' + id + '.png', alt=name)

.container
    .row
        .col-sm-12
            span.section-number= sectionNumber
            h2.section-heading.wow.fadeInUp= $i18n.tools.title
        .col-sm-4.col-xs-6.angled-column.wow.fadeInUp
            +tools-item('react', 'React', 'https://reactjs.org/')
            +tools-item('next', 'Next.js', 'https://nextjs.org/')
            +tools-item('typescript', 'TypeScript', 'http://www.typescriptlang.org/')

        .col-sm-4.col-xs-6.angled-column.wow.fadeInUp
            +tools-item('vuejs', 'Vue.js', 'https://vuejs.org/')
            +tools-item('nuxt', 'Nuxt.js', 'https://fr.nuxtjs.org/')
            +tools-item('postgresql', 'PostgreSQL', 'https://www.postgresql.org/')

        .col-sm-4.col-xs-6.angled-column.wow.fadeInUp
            +tools-item('node', 'Node.js', 'https://nodejs.org/')
            +tools-item('nest', 'Nest.js', 'https://nestjs.com/')
            +tools-item('unity', 'Unity3D', 'https://unity3d.com/')
