include ../mixins/card

.container
    .row
        .col-sm-12
            span.section-number= sectionNumber
            h2.section-heading.wow.fadeInUp= $i18n.values.title

        - for(let i = 0; i < Math.min(3, $i18n.culture.values.list.length); i++)
            - const value = $i18n.culture.values.list[i]
            .col-sm-4.angled-column.wow.fadeInUp
                +card(value)

    .row
        .col-sm-12.text-center
            a.primary-button(href='culture.html')
                | #{$i18n.values.cta}&nbsp;
                i.fa.fa-caret-right
