include ../mixins/google-analytics

mixin page(pageName, title, description)
    - const url = `https://lonestone.consulting/${$i18n.lang}/${pageName === 'home' ? '' : pageName + '.html'}`

    doctype html
    html(class=pageName, lang=$i18n.lang)
        head
            meta(charset='utf-8')
            meta(http-equiv='x-ua-compatible', content='ie=edge')
            - if (description)
                meta(name='description', content=description)
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            title= title

            //- Favicon
            link(rel='icon', type='image/png', href='/images/favicon.png')

            //- Styles
            link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto:light,regular,medium,bold|Raleway:light,regular,semi-bold,bold|Sacramento')
            link(rel='stylesheet', type='text/css', href='https://api.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.css')
            link(rel='stylesheet', type='text/css', href='/css/style.min.css')

            //- Chrome, Firefox OS and Opera
            meta(name="theme-color", content="#c74c22")
            //- Windows Phone
            meta(name="msapplication-navbutton-color", content="#c74c22")

            //- Open Graph
            meta(property='og:locale', content= $i18n.lang + '_' + $i18n.region)
            meta(property='og:type', content='website')
            meta(property='og:title', content=title)
            meta(property='og:site_name', content=title)
            meta(property='og:description', content=description)
            meta(property='og:url', content=url)
            meta(property='og:image', content='https://lonestone.consulting/images/preview-og.jpg')

            //- Twitter
            meta(name='twitter:card', content='summary')
            meta(name='twitter:title', content=title)
            meta(name='twitter:description', content=description)
            meta(name='twitter:image', content='https://lonestone.consulting/images/preview-twitter.jpg')

        body(data-spy='scroll', data-target='.navbar', data-offset=200)
            include ../layout/header
            block
            include ../layout/footer

            script(src='/js/combined.js')

            +google-analytics('UA-91354331-1')
