mixin section(className, sectionNumber)
    - var even = sectionNumber % 2 == 0
    section(id = className, class = className + ' ' + (even ? 'even' : 'odd'))
        if even
            .shape-top
        block
        if even
            .shape-bot