include mixins/page
include mixins/section
- var homeUrl = './'

+page('page404', $i18n.home.title, $i18n.home.description)
    - var sectionNumber = 0
    +section('page404', ++sectionNumber)
        include 404/notfound

    +section('page404', ++sectionNumber)
        include 404/consulting

    +section('page404', ++sectionNumber)
        include 404/cityinvaders

    +section('page404', ++sectionNumber)
        include 404/home
