include mixins/page
include mixins/section
- var homeUrl = './'

+page('culture', $i18n.culture.headTitle, $i18n.culture.description)
    - var sectionNumber = 0

    +section('cultureIntro', ++sectionNumber)
        include sections/cultureIntro

    +section('culturePrinciples', ++sectionNumber)
        include sections/culturePrinciples

    +section('cultureValues', ++sectionNumber)
        include sections/cultureValues

    +section('cultureGovernance', ++sectionNumber)
        include sections/cultureGovernance

    +section('jobs', ++sectionNumber)
        include sections/jobs
