include mixins/page
include mixins/section
- var homeUrl = ''

+page('home', $i18n.home.title, $i18n.home.description)
    include sections/intro

    - var sectionNumber = 0
    +section('services', ++sectionNumber)
        include sections/services

    +section('tools', ++sectionNumber)
        include sections/tools

    +section('values', ++sectionNumber)
        include sections/values

    +section('portfolio', ++sectionNumber)
        include sections/portfolio

    +section('jobs', ++sectionNumber)
        include sections/jobs

    +section('contact', ++sectionNumber)
        include sections/contact
