include mixins/page
include mixins/section
- var homeUrl = './'

+page('jobs', $i18n.jobs.headTitle, $i18n.jobs.description)
    - var sectionNumber = 0

    +section('jobsIntro', ++sectionNumber)
        include sections/jobsIntro

    +section('jobsOffers', ++sectionNumber)
        include sections/jobsOffersWelcomeKit

    //- +section('jobsOffers', ++sectionNumber)
    //-     include sections/jobsOffers

    +section('contact', ++sectionNumber)
        include sections/contact
