//- Javascript Files

//- build:js /js/combined.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/bower_components/jquery-sticky/jquery.sticky.js"></script>
<script src="/bower_components/wow/dist/wow.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<!-- endbower -->

//- Wiredep doesn't find smooth-scroll
script(src='/bower_components/smooth-scroll/dist/js/smooth-scroll.js')
script(src='/js/main.js')
//- endbuild -->
