include mixins/page
include mixins/section
- var homeUrl = './'

+page('team', $i18n.team.headTitle, $i18n.team.description)
    - var sectionNumber = 0

    +section('team', ++sectionNumber)
        include sections/team

    +section('jobs', ++sectionNumber)
        include sections/jobs
