/* Base styles */

body {
  font-weight: 300;
}

figure {
  margin: 0;
}

a {
  transition: $transition;
  color: $darkColor1;
  text-decoration: underline;
}

a:focus,
a:active,
a:hover {
  text-decoration: underline;
  color: $primaryColor;
}

p {
  line-height: 25px;
}

a:focus,
*:focus {
  outline: 2px solid $lightColor1;
}

ol,
ul {
  padding-left: 25px;
}

b, strong {
  font-weight: 500;
}
