/* Primary Button */
.primary-button {
  background: $primaryColor;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  padding: 10px 35px;
  margin-top: 30px;
  display: inline-block;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  i {
    padding-left: 5px;
    position: relative;
    top: 1px;
  }
  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;
  }
  &:before {
    background: $headingcolor none repeat scroll 0 0;
    color: #fff;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: -1;
    transition: $transition;
    border-radius: 3px;
  }
  &:hover:before,
  &:focus:before {
    width: 100%;
    color: #fff;
  }

  @media (max-width: 991px) {
    font-size: 22px;
  }
  @media (max-width: 768px) {
    font-size: 20px;
  }
}
