/* Footer */
footer {
  padding: 0 0 50px 0;
  background: $primaryColor;
  position: relative;
  .shape-top {
    position: absolute;
    z-index: 10;
    top: -79px;
    width: 100%;
    left: 0;
    width: 100%;
    height: 80px;
    polygon {
      fill: $primaryColor;
    }
  }
  img.footer-logo {
    display: block;
    margin: 0 auto;
    height: 30px;
  }
  p.copyright-text {
    text-align: center;
    margin: 20px 0;
    color: #fff;
    a {
      color: #fff;
      text-decoration: underline;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
  ul.footer-social {
    text-align: center;
    li {
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
      a {
        font-size: 24px;
        color: #fff;
      }
    }
  }
}
