body {
  margin-top: 130px;
}

/* Header Navigation */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  nav {
    transition: background-color 1s ease;
    background: transparent;
    padding: 25px 0;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    .navbar-brand {
      margin-left: 0 !important;
      padding: 0;
      height: 30px;
      img {
        height: 30px;
      }
    }
    .navbar-header {
      margin-top: 5px;
    }
    .navbar-collapse {
      box-shadow: none;
    }
    ul.nav {
      margin-top: 9px;
      li {
        a {
          position: relative;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 500;
          color: white;
          padding: 0 12px 5px;
          &:hover,
          &:focus {
            color: white;
            background: none;
            outline: none;
            &:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $lightColor1;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }
        }
        &.open > a,
        &.open > a:hover,
        &.open > a:focus {
          background-color: $darkColor2;
        }
        &.active {
          a {
            color: $lightColor1;
            &:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
        }
        .dropdown-menu {
          border: none;
          padding-top: 12px;
          background-color: $darkColor2;
          a {
            text-transform: none;
            img {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .sticky-wrapper nav {
    background: $darkColor2;
  }
}

@media (max-width: 991px) {
  header .navbar > .container {
    .navbar-brand {
      height: 20px;
      img {
        height: 20px;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  header .navbar > .container {
    .navbar-collapse {
      padding: 0;
      ul.nav {
        margin-top: 20px;
        float: left !important;
        li a {
          padding: 0 0 5px 0;
          margin-right: 24px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header nav {
    padding: 10px 0 0 0 !important;
    ul.nav {
      background: $darkColor3;
      &.navbar-right {
        float: none !important;
      }
      li a {
        height: 40px;
        line-height: 40px;
      }
    }
    .navbar-header {
      padding: 0 15px;
    }
    .navbar-toggle {
      position: absolute;
      top: 8px;
      right: 8px;
      margin: 0;
      float: none;
    }
    .navbar-toggle .icon-bar {
      background: $lightColor1;
    }
  }
}
