//- City Invaders presentation

.container
    .row
        .col-md-4.col-md-offset-2.col-xs-6.speechbubble
            != md($i18n.page404.cityinvaders)
        .col-md-4.col-xs-6
            img.img-responsive(src='/images/404/cityinvaders.png')
