//- Lost? => Home

.container
    .row
        .col-md-4.col-md-offset-2.col-xs-6
            img.img-responsive(src='/images/404/home.png')
        .col-md-4.col-xs-6.speechbubble
            != md($i18n.page404.home)
    .row
        .col-md-8.col-md-offset-2
            .copyright
                != md($i18n.page404.copyright)
